extends main-layout

block content
  .col-md-6
    .text-center
      h2
        strong Welcome, ADMIN.
      #userDetails.collapse
        p.text-muted User FirstName LastName succesfully registered.
          br
          | User ID: 999999
          br
          | User PIN: 123456
    .card.bg-white.p-3
      .card-body
        h4.card-title Register an Account
        form(action='javascript:void(0);')
          .mb-3
            label.form-label(for='firstName') First Name
            input.form-control(type='text' name='firstName')
          .mb-3
            label.form-label(for='lastName') Last Name
            input.form-control(type='text' name='lastName')
          .mb-3
            label.form-label(for='address') Address
            input.form-control(type='text' name='address')
          .mb-3
            label.form-label(for='town') Town
            input.form-control(type='text' name='town')
          .mb-3
            label.form-label(for='county') County
            input.form-control(type='text' name='county')
          .mb-3
            label.form-label(for='eircode') Eircode
            input.form-control(type='text' name='eircode')
          button.btn.btn-primary.shadow.d-block.w-100(type='submit') Submit
          script.
            $(document).ready(function(){
              $(".btn-primary").click(function(){
                $(".collapse").collapse('show');
              });
            });