extends landing-layout

block content
  script.
    //go to next non disabled input on input, ensure only digit entered - wrote this prior to installing jquery to keep my sanity
    document.onreadystatechange = function () {
      if (document.readyState === 'complete') {
        var pinInputs = document.querySelectorAll('.pin-digit');
        for(var i = 0; i < pinInputs.length; i++){
            pinInputs[i].addEventListener("keyup", function() {
              var ch = this.value;
              if(ch >= '0' && ch <= '9'){ //ensure it's a digit
                var next; //if it is, go to the next non-disabled pin input
                if(this.nextSibling){
                  next = this.nextSibling;
                  while(next){
                    if(next.disabled){
                      next = next.nextSibling;
                    } else {
                      next.focus();
                      return;
                    }
                  }
                }
              } else { //delete input if it's not a digit
                this.value = '';
              }
            }
            )
        }
      }
    }
  .row.d-flex.justify-content-center
    .col-12.col-md-8.col-lg-6
      .card.bg-white
        .card-body.p-5
          form#loginform(action='/')
            p.text-center.text-muted Enter your User ID and the remaining PIN digits to sign in.
            .mb-3
              label.form-label(for='userid') User ID
              input.form-control(type='text' id='userid' name='userid')
              .invalid-feedback Invalid or incorrect User ID.
            .mb-4
              label.form-label(for='pin') PIN Code
              - var rand
              - var required = []
              while required.length < 3
                - rand = Math.floor(Math.random() * 6)
                unless required.includes(rand)
                  - required.push(rand)
              - var n = 0
              .d-flex.justify-content-center.pin-container
                while n < 6
                  if(required.includes(n))
                    input.form-control.pin-digit(type='password', maxlength="1", disabled, value = " ")
                  else
                    input.form-control.pin-digit(type='password', maxlength="1")
                  - ++n
              .invalid-feedback#pin-feedback Invalid PIN.
            button.btn.btn-primary.shadow.d-block.w-100(type='submit') Sign In
            script.
              $(".btn-primary").click(function(e) {
                var isValid = true;
                $("#loginform :input[type=text]").each(function() {
                  if(this.value == ""){
                    $(this).addClass('is-invalid');
                    isValid = false;
                    e.preventDefault();
                  } else {
                    $(this).removeClass('is-invalid');
                  }
                })
                $("#loginform :input[type=password]").each(function() {
                  if(this.value == ""){
                    $(this).addClass('is-invalid');
                    $("#pin-feedback").show();
                    isValid = false;
                    e.preventDefault();
                  } else {
                    $(this).removeClass('is-invalid');
                  }
                })
                
                //shouldn't be here obviously, just for demonstration.
                if(isValid && ($("#userid").val() == 'admin')){
                  $("#loginform").attr('action', '/admin');
                } else if (isValid) {
                  $("#loginform").attr('action', '/');
                }
              });