extends landinglayout

block content
  p.text-muted.text-center Enter your User ID and the remaining PIN digits to sign in.
  .container
    .row.d-flex.justify-content-center
      .col-md-6.col-xl-4
        .card-body.text-center.d-flex.flex-column.align-items-center
          form(action='./')
            .mb-2
              label.form-label(for='userid') User ID
              input.form-control(type='text' name='userid')
            .mb-2
              label.form-label(for='pin') PIN Code
              - var rand
              - var required = []
              while required.length < 3
                - rand = Math.floor(Math.random() * 6)
                unless required.includes(rand)
                  - required.push(rand)
              - var n = 0
              .d-flex.justify-content-center.pin-container
                while n < 6
                  if(required.includes(n))
                    input.form-control.pin-digit(type='password', maxlength="1", disabled, value = " ")
                  else
                    input.form-control.pin-digit(type='password', maxlength="1")
                  - ++n
            .mb-2
              button.btn.btn-primary.shadow.d-block.w-100(type='submit') Sign In
    // TODO
      JS to ensure only numbers are entered, automatically tab to next uncomplete digit.
      Pick 3 random required digits, set other 3 to disabled.