extends main-layout.pug

block navigation
  li.nav-item
    a.nav-link.nav-current(href='/') Home
  li.nav-item
    a.nav-link.disabled Transfer Funds
  li.nav-item
    a.nav-link.disabled Deposit Funds
block content
  section.text-center
    .container.ps-5.pe-5
      p.text-muted Welcome, #{account.firstName} #{account.lastName}.
      h3.text-muted Your balance is €#{account.balance}.
  section.text-center
    .container.ps-4.pe-4
      app-transactions-list Loading transactions...
block scripts
  script(src='/build/polyfills.js')
  script(src='/build/main.js')
  script(src='/build/runtime.js')