extends main-layout.pug

block navigation
  li.nav-item
    a.nav-link.nav-current(href='/') Home
  li.nav-item
    a.nav-link.disabled Payments
  li.nav-item
    a.nav-link.disabled Services
  li.nav-item
    a.nav-link.disabled My Account
block content
  section.text-center
    .container.ps-5.pe-5
      p.text-muted Welcome, #{account.firstName} #{account.lastName}.
      h3.text-muted Your balance is €#{account.balance}.
  section.text-center
    .container.ps-4.pe-4
      app-transactions-list Loading transactions...
block scripts
  script(src='/polyfills.js')
  script(src='/main.js')
  script(src='/runtime.js')